.wrapper {
  margin: auto;
  width: 80%;
}

.logo, .menu {
  display: inline-block;
}

.logo {
  position: relative;
  padding: 40px 0 40px 44px;
  font: bold 24px/32px 'pt_serifbold', arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
  opacity: .7;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
  opacity: .7;
}

.menu {
  display:flex;
  align-items: center;
  padding-right: 3px;
}

.menu__item {
  position: relative;
  margin-right: 25px;
  font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item_active::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover {
  opacity: .5;
}

.menu__item:hover::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.menu__item:hover::after, menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.main {
  padding: 0 63% 130px 0;
  background: top right no-repeat url(img/mainImg.svg);
}

.main__title {
  padding-top: 76px;
  margin: 0 0 35px 0;
  font: bold 66px/87px 'pt_serifbold', arial, helvetica, sans-serif;
}

.main__subtitle {
  margin: 0 0 41px 0;
  padding: 0 20% 0px 0;
  font: 400 22px/26px 'Roboto', arial, helvetica, sans-serif;
}

.main__title-text_highlight {
  background: #ecf3ff;
}

.main__button {
  display: inline-block;
  height: 57px;
  width: 270px;
  font: 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056ec;
  padding: 14px 25px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}

.hamburger-menu {
  display: none;
}

@media (max-width: 1366px) {
  .wrapper {
    margin: auto;
    width: 70%;
    }

  .menu {
    display: flex;
  align-items: center;
    padding-right: 24px;
    padding-top: 13px;
  }

    .menu__item {
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
  }

  .main {
    padding: 0 56% 83px 0;
    background: top right no-repeat url(img/mainImg1366.svg);
    background-position-x: 97%;
    }

    .main__title {
    padding-top: 17px;
    margin-bottom: 40px;
    font: bold 50px/66px 'pt_serifbold', arial, helvetica, sans-serif;
    }

    .main__subtitle {
    margin: 0 0 41px 0;
    padding: 0 10% 0 0;
    font: 400 18px/21px 'Roboto', arial, helvetica, sans-serif;
    }

  .main__button {
    height: 44px;
    width: 209px;
    font: 14px/16px 'Roboto', arial, helvetica, sans-serif;
    padding: 14px 18px;
    }

  .header {
    margin-bottom: 83px;
  }
    }

@media (max-width: 1024px) {
  .wrapper {
    margin: auto;
    width: 92%;
   }

   .menu {
    padding-top: 10px;
    padding-right: 0;
  }

   .menu__item {
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
  }

     .main {
    padding: 0 54% 100px 0;
    background: top right no-repeat url(img/mainImg1024.svg);
    background-position-x: 100%;
   }

  .main__title {
    padding-top: 15px;
    margin-bottom: 39px;
     font: bold 50px/66px 'pt_serifbold', arial, helvetica, sans-serif;
    }

   .main__subtitle {
    margin: 0 0 41px 0;
    padding: 0 12% 0 0;
     font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
   }

   .main__button {
     display: inline-block;
     height: 44px;
     width: 209px;
     font: 14px/16px 'Roboto', arial, helvetica, sans-serif;
     padding: 14px 18px;
     text-decoration: none;
     border-radius: 4px;
     transition: opacity .5s;
   }

   .header {
     display: flex;
     justify-content: space-between;
     margin-bottom: 85px;
  }
   }
@media (max-width: 768px) {
   .menu {
     display: none;
   }

   .logo__text {
     display: none;
   }

   .hamburger-menu {
     display: block;
   }

   .logo__circle {
     position: fixed;
     margin: 24px;
     left: 0;
     top: 24px;
     transform: translateY(-50%);
     width: 28px;
     height: 28px;
     border-radius: 50%;
   }

   .logo__circle_color_blue {
     position: fixed;
     left: 8px;
     top: 31px;
     background: #c8dbfb;
     opacity: .7;
   }

   .logo__circle_color_dark-blue {
     background: #0056ec;
     opacity: .7;
   }

   .header {
     margin-bottom: 28px;
   }

   .main {
     text-align: center;
     padding: 64% 0 0;
     background-size: 74%;
     background-position: top center;
   }

   .main__title {
     text-align: center;
     margin-bottom: 44px;
     font: bold 30px/39px 'pt_serifbold', arial, helvetica, sans-serif;
   }

   .main__subtitle {
     text-align: center;
     padding: 0.5%;
     margin-bottom: 25px;
     font: 500 16px/19px 'Roboto', arial, helvetica, sans-serif;
   }

   .main__button {
     text-align: center;
     font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
   }

   #menu__toggle {
     opacity: 0;
   }

   .menu__btn {
     display:flex;
     align-items: center;
     position: fixed;
     top: 32px;
     right: 24px;
     width: 25px;
     height: 17px;
     cursor: pointer;
     z-index: 1;
   }

   .menu__btn > span,
   .menu__btn > spanbefore,
   .menu__btn > span:after {
     display: block;
     position: absolute;
     width: 100%;
     height: 3px;
     background-color: #0056ec;
   }

   .menu__btn > span:before {
     content: '';
     top: -8px;
   }

   .menu__btn > span:after {
     content: '';
     top: 8px;
   }

   .menu__box {
     display: block;
     position: fixed;
     visibility: hidden;
     top: 0;
     right: -100%;
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 150px 0;
     background-color: #fff;
   }

   .menu__item {
     position: relative;
     padding: 24px;
     height: 36px;
     width: max-content;
     justify-content: center;
     display: block;
     font: 500 30px/35px 'Roboto',sans-serif,arial,helvetica;
     text-decoration: none;
   }

   #menu__toggle:checked ~ .menu__btn > span {
     transform: rotate(45deg);
   }

   #menu__toggle:checked ~ .menu__btn > span:before {
     top: 0;
     transform: rotate(0);
   }

   #menu__toggle:checked ~ .menu__btn > span:after {
     top: 0;
     transform: rotate(90deg);
   }

   #menu__toggle:checked ~ .menu__box {
     visibility: visible;
     right: 0;
   }
 }
